<div class="show-page">
<div class ="card-body card-container">
<h1><%= @product.name %></h1>
<div class="card" style="width: 18rem;">
  <% if @product.picture.attached? %>
    <%= image_tag @product.picture, class: "card-img-custom"%> 
  <% else %>
    <%= image_tag "honeyjar.jpg", class: "card-img-custom"%>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <p class="card-text">Price: $<%= @product.price %></p>
    <p class="card-text">Location: <%= @product.location %></p>
    <p class="card-text">Size: <%= @product.size %></p>
    <p class="card-text">Description: <%= @product.description %></p>
    <% if current_user == @product.user %>
        <br>
        <button type="button" class="btn btn-light"><%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        <br>
        <button type="button" class="btn btn-light"><%= link_to 'Edit', edit_product_path(@product)%></button>
    <% end %>
  </div>
</div>
</div>
</div>