<div class="show-page">
  <div class ="card-body">
    <h1><%= @product.name %></h1>
      <div class="card" style="width: 18rem;">
        <% if @product.picture.attached? %>          <%#Checks if the product has an image attached to it.%>
          <%= image_tag @product.picture, class: "card-img-top"%> <%#If an image is attached it is shown on the card %>
        <% else %>
          <%= image_tag "honeyjar.jpg", class: "card-img-top"%>    <%#If no image is attached, a default one from assets/images is used.%>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= @product.name %></h5>           <%#Displays the product name on the card.%>
          <p class="card-text">Price: <%= number_to_currency(@product.price) %></p>   <%#Displays the price on the card.%>
          <p class="card-text">Location: <%= @product.location %></p>       <%#Displays the location on the card.%>
          <p class="card-text">Size: <%= @product.size %></p>                <%#Displays the product size on the card.%>
          <p class="card-text">Description: <%= @product.description %></p>      <%#Displays the product description on the card.%>
          <% if current_user == @product.user %>   <%# Checks if the user owns the product%>
            <br>
            <%#Only shows delete and edit buttons if the user is the owner of the product.%>
            <button type="button" class="btn btn-warning"><%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            <br><br>
            <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_product_path(@product)%></button>
          <% else %>
            <%#Button to make a payment. Connects to stripe%>
            <%= button_tag "Buy",data: {stripe:'payment', session_id: @session_id, public_key: Rails.application.credentials.dig(:stripe, :public_key) }, id:'stripe-button', class:'btn btn-warning' %>
          <% end %>
        </div>
      </div>
  </div>
</div>

<%#Javascript for Stripe payment%>
<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<%= javascript_pack_tag 'stripe' %>