<div class="show-page">
  <div class ="card-body">
    <h1><%= @product.name %></h1>
      <div class="card" style="width: 18rem;">
        <% if @product.picture.attached? %>
          <%= image_tag @product.picture, class: "card-img-top"%> 
        <% else %>
          <%= image_tag "honeyjar.jpg", class: "card-img-top"%>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= @product.name %></h5>
          <p class="card-text">Price: $<%= @product.price %></p>
          <p class="card-text">Location: <%= @product.location %></p>
          <p class="card-text">Size: <%= @product.size %></p>
          <p class="card-text">Description: <%= @product.description %></p>
          <% if current_user == @product.user %>
            <br>
            <button type="button" class="btn btn-warning"><%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            <br><br>
            <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_product_path(@product)%></button>
          <% else %>
            <%= button_tag "Buy",data: {stripe:'payment', session_id: @session_id, public_key: Rails.application.credentials.dig(:stripe, :public_key) }, id:'stripe-button', class:'btn btn-warning' %>
          <% end %>
        </div>
      </div>
  </div>
</div>

<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<%= javascript_pack_tag 'stripe' %>